* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  color: white;
}

a {
  text-decoration: none;
}

@mixin standard_btn {
  font-size: 16px;
  margin: 5px;
  cursor: pointer;
  padding: 2px 5px;
  background-color: gray;
  border-radius: 5px;
  border: 1px solid white;
}

.standard_btn {
  @include standard_btn;
  &.create_car {
    padding: 4px 8px;
  }
}
.delete_btn {
  @include standard_btn;
  color: red;
}

ul {
  list-style: none;
}

select,input {
  color: black;
  font-style: italic;
}

header {
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    .logo {
      width: 100px;
    }
  }
}

main {
  min-height: 100vh;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(215,219,216,1) 25%, rgba(0,0,0,1) 75%);
  .top_bar_btn {
    margin: 15px 0;
  }
  .main_wrapper {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .singleCar {
      flex-basis: calc(100% / 5);
      margin: 10px;
      padding: 10px;
      &.selectable:hover {
        background-color: rgba(219, 0, 0, 0.1);
        box-shadow: 0 0 8px red;
        border-radius: 10px;
        transition: all 0.5s;
      }
      img {
        width: 256px;
        height: 256px;
      }
      .btn_wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

}
