* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.main_wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.main_wrapper .singleCar {
  flex-basis: calc(100% / 5);
  padding: 10px;
}

.main_wrapper .singleCar img {
  width: 256px;
  height: 256px;
}

